.App {
  text-align: center;
  overflow: scroll;
  background: rgb(255, 255, 255);
}
.App-dark {
  text-align: center;
  overflow: scroll;
  background: black;
}

.App-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7vh;
  font-weight: bold;
  color: black;
}
.App-title-dark{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7vh;
  font-weight: bold;
  color: white;
}

.App-subtitle{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
  font-weight: bold;
  color: black; 
}
.App-subtitle-dark{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
  font-weight: bold;
  color: white;
}

.App-latest {
  height: 50vmin;
  margin-top: 2%;
  margin-bottom: 2%;
  
  
  animation: wiggle  2s linear infinite ;
}

.App-latest:hover {
  opacity: 0.8;
  transition: opacity .2s ease-out;
}


.App-archive-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 2%;
  color: black;
}
.App-archive-title-dark{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 2%;
  color: white;
}

@keyframes wiggle {
  0% {
    transform: translateX(-7px);
  }
  50% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(-7px);
  }
}

/* ------------------------------------------------------------------------  */

.Social-container {
  display: inline-block;
  flex-direction: column;
 
  position: absolute;
  top: 5%;
  right: 5%;

  height: 100%;
  width: auto;
  padding: 0.5%;

}

.Social-row {
  width: auto;
  height: auto;
  text-align: left;
  padding-left: 5% ;

}

.Social-row:hover {
  opacity: 0.5;
  transition: opacity .2s ease-out;
}

/* ------------------------------------------------------------------------  */

.MixArticle-container {
  width: fit-content;
  margin: 5vh auto;
  height: fit-content;
}

.MixArticle-photo {
  height: 50vmin;
  margin-top: 1vh;
}

.MixArticle-photo:hover {
  opacity: 0.8;
  transition: opacity .2s ease-out;
}

.MixArticle-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vh;
  font-weight: bold;
  color: black;
}
.MixArticle-title-dark {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vh;
  font-weight: bold;
  color: white;
}

.MixArticle-genre {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
}
.MixArticle-genre-dark {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
  color: white;
}

.MixArticle-date {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 1.9vh;
}

/* ------------------------------------------------------------------------  */

.Latest-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vh;
  font-weight: bold;
  margin-top: 10vh;
  color: black;
}
.Latest-title-dark {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vh;
  font-weight: bold;
  margin-top: 10vh;
  color: white;
}

.Latest-genre {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
  color: black;
}
.Latest-genre-dark {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
  color: white;
}

